@import '../../assets/stylesheets/global/gradient.scss';
@import '../../assets/stylesheets/global/variable.scss';
@import '../../assets/stylesheets/global/mixins';

.dashboard {
    margin: 0 15px;
.boards {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.create-new {
    @include center-content();
    flex-direction: row-reverse;
    width: 60px;
    height: 60px;
    background: $review-grad;
    border-radius: 50%;
    border: none;
    position: absolute;
    bottom: 10px;
    right: 15px;

    svg {
        color:$white;
        height: 20px;
        width: 20px;
    }
}
}