@import '../../assets/stylesheets/global/variable.scss';
@import '../../assets/stylesheets/global/gradient.scss';
@import '../../assets/stylesheets/global/mixins';


.board {
    width: 280px;
    background:#f2f3f7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 85vh;
    margin-top: 30px;
    border-radius: 8px;
    border-top: 5px solid;
    overflow-y:auto;
 
    &.border-color-backlog {
           border-color : $primary-purple;
           &.draggablebg {
             background: $backlog-grad;
             @include board-title()

           }
           
    }
     &.border-color-inProgress {
         border-color:$primary-orange;
         &.draggablebg {
             background: $inProgress-grad;
            @include board-title()
         
         }
     
     }
     &.border-color-review {
         border-color: $primary-blue;
         &.draggablebg {
             background: $review-grad;
             @include board-title()

         }
 
     }
     &.border-color-complete {
         border-color: $primary-green;
         &.draggablebg {
             background: $complete-grad;
             @include board-title()

         }
           
     }
    .title {
     margin: 15px;
     font-size: 20px;
     font-weight: 500;   
    }
    .card-body {
        height: calc(100vh - 185px);
        overflow: auto;
     }
 
 };