.card {
    margin-bottom: 12px;
    min-height: 100px;
    .task-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-left: 10px;

    .priority {
        color: white;
        padding: 5px;
        font-weight: 800;
        width: max-content;
        border-radius: 5px;

        &.low {
            background: linear-gradient( 34.34deg, #9EA7FC 0%, #65B6F7 116.98%);
        }
        &.medium {
            background: linear-gradient(315.14deg, #81D5EE 0%, #7ED492 133.97%);
        }
        &.high {
         background: linear-gradient(133.98deg, #C781FF -18.23%, #E57373 125.36%);
            
        }
    }

    .actions {
        margin-right: 15px;
        .assignee {
            padding: 8px;
            background: #DADADA;

            border-radius: 50%;
            font-weight: 900;
            color: white;
            /* margin-top: 23px; */
            margin: 15px;
            margin-top: 15px;
        }
        .edit {
            border: none;
            background: none;
            svg {
                height: 20px;
                width: 20px;
                color: #DADADA;
            };
        }
    }
}

    .task-title {
     margin: 15px;
     margin-bottom: 0px;
     margin-top: 10px;
     letter-spacing: 1px;
     font-weight: 800;
     font-size: 20px;
     font-family :'Times New Roman', Times, serif;
     font-weight: 500;
    }
    .description{
    margin-left: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    max-width: 14rem;
    color: #b8b7b7;
    // color: grey;
    font-weight: 500;
    }

}
